.title {
    font-family: var(--second-family);
    font-size: 2.8rem;
    color: var(--black);
    margin-bottom: 24px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 72px;
    line-height: 78%;
    letter-spacing: -0.05em;
    color: var(--black);
}

.createButton {
    padding: 14px 32px;
    font-family: var(--font-family);
    font-size: 1.25rem;
    font-weight: 600;
    background: var(--blue);
    color: var(--white);
    border-radius: 12px;
    transition: background 0.2s;
}

.createButton:hover {
    background: #0047b3;
}
.wrapper {
    position: relative;
    min-height: 100vh;
    background: var(--light-bg-color);

}

/* Угловые квадраты */
.corner {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: var(--corners-dark-border); /* или другой цвет: #b8a899 и т.д. */
}

.corner.topLeft {
    top: 0;
    left: 0;
}

.corner.topRight {
    top: 0;
    right: 0;
}

.corner.bottomLeft {
    bottom: 0;
    left: 0;
}

.corner.bottomRight {
    bottom: 0;
    right: 0;
}

/* Основной контент (заставка) */
.container {
    display: grid;

    /*align-items: center;*/
    /*justify-content: center;*/
    min-height: 100vh;
    padding: 20px;
    font-family: var(--font-family);
    position: relative;
    z-index: 1;
    border: 30px solid var(--dark-border);
    grid-template-columns:  repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    grid-template-areas:
            "header header header header box1 box1 box2"
            "box3 box4 box4 box5 cube cube cube"
            "box6 box6 box7 box7 cube cube cube";
}
.title {
    grid-area: header;
}

.cube {
    grid-area: cube;
}
